---
layout: default
---

<section class="home-hero">

  <!-- HERO CROWN -->
<div class="hero-crown-wrapper">
  <img 
    src="{{ '/assets/img/day-crown.svg' | relative_url }}" 
    alt="Day Crown"
    class="home-crown crown-day">

  <img 
    src="{{ '/assets/img/night-crown.svg' | relative_url }}" 
    alt="Night Crown"
    class="home-crown crown-night">
</div>

  <!-- HERO GALLERY LANES -->
  <div class="hero-gallery">
    <div class="gallery-left"></div>
    <div class="gallery-right"></div>
  </div>

</section>

<!-- PAGE CONTENT -->
{{ content }}
